In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [16]:
table = soup.find_all('table')[1]

In [9]:
world_titles= soup.find_all('th')

In [10]:
world_titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>,
 <th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD billions)
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>,
 <th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Profits<br/>(USD millions)
 </th>]

In [11]:
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters', 'Rank', 'Name', 'Industry', 'Revenue (USD billions)', 'Employees', 'Headquarters', 'Rank', 'Name', 'Industry', 'Profits(USD millions)']

In [13]:
df = pd.DataFrame(columns = world_table_titles)

In [14]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters, Rank, Name, Industry, Revenue (USD billions), Employees, Headquarters, Rank, Name, Industry, Profits(USD millions)]
Index: []

In [25]:
column_data = table.find_all('tr')

In [24]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters, Rank, Name, Industry, Revenue (USD billions), Employees, Headquarters, Rank, Name, Industry, Profits(USD millions)]
Index: []

In [30]:
print(f"Number of columns in world_table_titles: {len(world_table_titles)}")

Number of columns in world_table_titles: 17

In [31]:
for i, row in enumerate(all_rows):
    print(f"Row {i} has {len(row)} columns.")

Row 0 has 6 columns.
Row 1 has 6 columns.
Row 2 has 6 columns.
Row 3 has 6 columns.
Row 4 has 6 columns.
Row 5 has 6 columns.
Row 6 has 6 columns.
Row 7 has 6 columns.
Row 8 has 6 columns.
Row 9 has 6 columns.

In [32]:
# Ensure column titles match row data
if len(world_table_titles) > len(all_rows[0]):
    world_table_titles = world_table_titles[:len(all_rows[0])]

# Ensure all rows match the number of columns
for i, row in enumerate(all_rows):
    if len(row) < len(world_table_titles):
        all_rows[i] = row + [""] * (len(world_table_titles) - len(row))

# Create DataFrame
df = pd.DataFrame(all_rows, columns=world_table_titles)

# Display DataFrame
print(df)

  Rank                                Name                       Industry  \
0    1                             Cargill                  Food industry
1    2                     Koch Industries                   Conglomerate
2    3                Publix Super Markets                         Retail
3    4                  Mars, Incorporated                  Food industry
4    5                               H-E-B                         Retail
5    6                      Reyes Holdings                    Wholesaling
6    7                 Enterprise Holdings                     Car rental
7    8               C&S Wholesale Grocers                    Wholesaling
8    9                              Love's  Petroleum industry and Retail
9   10  Southern Glazer's Wine and Spirits                  Food industry

  Revenue (USD millions) Revenue growth                Employees
0                    177        160,000    Minnetonka, Minnesota
1                    125        120,000          Wichita, Kansas
2                   54.5        250,000    Winter Haven, Florida
3                     47        140,000         McLean, Virginia
4                   43.6        145,000       San Antonio, Texas
5                     40         36,000       Rosemont, Illinois
6                     35         90,000        Clayton, Missouri
7                   34.7         15,000     Keene, New Hampshire
8                   26.5         40,000  Oklahoma City, Oklahoma
9                   26.0         24,000         Miramar, Florida

In [34]:
import pandas as pd
from bs4 import BeautifulSoup

# Sample HTML parsing (use your actual BeautifulSoup table parsing logic here)
soup = BeautifulSoup(page.text, "html.parser")  # Replace html_content with your actual HTML source
table = soup.find("table")  # Find the table in your HTML source

# Extract headers
world_table_titles = ['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

# Extract all rows
rows = table.find_all("tr")
all_rows = []
for row in rows:
    cells = row.find_all(["td", "th"])  # Extract both data and header cells
    row_data = [cell.text.strip() for cell in cells]
    all_rows.append(row_data)

# Filter out rows with incorrect number of columns
filtered_rows = [row for row in all_rows if len(row) == len(world_table_titles)]

# Create DataFrame
df = pd.DataFrame(filtered_rows, columns=world_table_titles)

# Display the DataFrame
print(df)

     Rank                  Name                    Industry  \
0    Rank                  Name                    Industry
1       1               Walmart                      Retail
2       2                Amazon  Retail and cloud computing
3       3                 Apple        Electronics industry
4       4    UnitedHealth Group                  Healthcare
..    ...                   ...                         ...
96     96                  TIAA                  Financials
97     97                   CHS     Agriculture cooperative
98     98  Bristol-Myers Squibb     Pharmaceutical industry
99     99  Dow Chemical Company           Chemical industry
100   100              Best Buy                      Retail

     Revenue (USD millions)  Revenue growth  Employees  \
0    Revenue (USD millions)  Revenue growth  Employees
1                   648,125            6.0%  2,100,000
2                   574,785           11.9%  1,525,000
3                   383,482           -2.8%    161,000
4                   371,622           14.6%    440,000
..                      ...             ...        ...
96                   45,735           11.8%     16,023
97                   45,590           -4.6%     10,609
98                   45,006           -2.5%     34,100
99                   44,622          -21.6%     35,900
100                  43,452           -6.1%     85,000

                       Headquarters
0                      Headquarters
1             Bentonville, Arkansas
2               Seattle, Washington
3             Cupertino, California
4             Minnetonka, Minnesota
..                              ...
96          New York City, New York
97   Inver Grove Heights, Minnesota
98          New York City, New York
99                Midland, Michigan
100            Richfield, Minnesota

[101 rows x 7 columns]